<div class="flex flex-col justify-between bg-white border-r h-full">
  <div class="flex flex-col h-full">
    <input class="flex-none h-10 rounded-md border pl-3 text-sm focus:ring-1 focus:blue-100 m-4" id="search"
      type="search" placeholder="Find a repository" [(ngModel)]="repository" (input)="filterRepoByName()" />
    <ng-container *ngIf="repositoriesTmp.length > 0">
      <ul>
        <li *ngFor="let repository of repositoriesTmp" class="flex flex-col gap-1 px-4"
          (click)="onSelectRepository(repository.name)">
          <div class="py-2 px-3 text-gray-700 hover:cursor-pointer hover:bg-gray-100 rounded-md w-full text-sm" [ngClass]="{
              'bg-gray-100': selectedRepository == repository.name
            }">
            {{ repository.name }}
          </div>
        </li>
      </ul>
    </ng-container>
    <div class="flex flex-row justify-center gap-3 m-4" *ngIf="repositoriesTmp.length > 0">
      <button type="button"
        class="flex flex-column text-sm text-blue-500 rounded py-2 px-4 hover:ring-1 hover:ring-gray-200 disabled:text-gray-200 disabled:ring-gray-200"
        [disabled]="!(pagination && pagination.prev)" (click)="getRepos(owner, pagination.prev!, perPage)">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
        </svg>
        <span class="text-sm">Previous</span>
      </button>
      <button type="button"
        class="flex flex-column text-sm text-blue-500 rounded py-2 px-4 hover:ring-1 hover:ring-gray-200 disabled:text-gray-200 disabled:ring-gray-200"
        [disabled]="!(pagination && pagination.next)" (click)="getRepos(owner, pagination.next!, perPage)">
        <span class="text-sm">Next</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-5 h-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
        </svg>
      </button>
    </div>
  </div>
</div>